<?xml version="1.0" encoding="UTF-8" ?>      
<!DOCTYPE configuration      
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"      
     "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径 -->
    <typeAliases>  
         <typeAlias type="com.guole.vo.UserInfoVO" alias="user"/>
        <typeAlias type="com.guole.vo.UserAccountVO" alias="userAccount"/>
        <typeAlias type="com.guole.vo.ApplyCompanyInfoVO" alias="applyCompanyInfo"/>
        <typeAlias type="com.guole.vo.GiftCardTypeVO" alias="giftCardType"/>
        <typeAlias type="com.guole.vo.GiftCardVO" alias="giftCardVO"/>
        <typeAlias type="com.guole.vo.VIPCardVO" alias="vipCardVO"/>
        <typeAlias type="com.guole.vo.BillVO" alias="billVO"/>
        <typeAlias type="com.guole.vo.RechargeVO" alias="rechargeVO"/>
        <typeAlias type="com.guole.vo.MessageVO" alias="messageVO"/>
        <typeAlias type="com.guole.vo.CommentVO" alias="commentVO"/>
    </typeAliases>
    <!-- 定义映射资源 -->
    
    <mappers>  
        <mapper resource="mapper_sqls/user_mapper.xml" />
        <mapper resource="mapper_sqls/giftcard_mapper.xml" />
        <mapper resource="mapper_sqls/vipcard_mapper.xml" />
        <mapper resource="mapper_sqls/bill_mapper.xml" />
        <mapper resource="mapper_sqls/recharge_mapper.xml" />
        <mapper resource="mapper_sqls/postbox_mapper.xml" />
        <mapper resource="mapper_sqls/comment_mapper.xml" />
    </mappers>
</configuration>