.CC_CityPanel {
	width:310px;
	border:2px rgb(255, 193, 59) solid;
	padding-left:10px;
	background-color: #ffffff;
	position: absolute;
	z-index:1000000;
	height:520px;
}

.CC_Header {
	padding-top:10px;
}

.CC_HotCityTitle {
	color: rgb(153, 153, 153);
}

.CC_HotCity {
	width:260px;
	padding-top:5px;
	padding-bottom:10px;
	border-bottom:1px rgb(234, 234, 234) solid;
}

.CC_HotCity a {
	margin-right:8px;
	color: #000000;
}

.CC_Citys {
	margin-top: 10px;
	width:270px;
	padding-bottom:20px;
}

.CC_Citys a {
	margin-right: 5px;
}

.CC_Citys span {
	background-color: rgb(159, 202, 233);
	color: #ffffff;
	height:16px;
	width:16px;
	text-align:center;
	display: inline-block;
	margin-right:5px;
}

.CC_Close {
	margin-right: 10px;
	margin-top:-5px;
	cursor: pointer;
	font-family: sans-serif;
	font-size:21px;
	font-weight: lighter;
}

.country{
	margin-left:55px
}

.CC_item {
	margin-top: 5px;
	line-height: 18px;
}