@charset "utf-8";     

#main-content .pagination {text-align:right;padding:20px 0 5px 0;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
.pagination span {border:1px solid #ddd;cursor:pointer;}
.pagination span {
    margin:0 5px 0 0;padding:6px 10px 6px 10px;
}

.pagination .current {
   background:#7bb724 url('../../Images/bg-button-green.gif') top left repeat-x !important;border-color:#459300 !important;color:#fff !important;
}
.pagination .current:hover {
   text-decoration:underline;
   border:0px;
   cursor: default;
}
.pagination :hover{
   color: rgb(255, 138, 0);
   border: 1px rgb(255, 138, 0) solid;
}
.pagination span.prev, .pagination span.next{
	background:#ffffff!important;border:#ddd 1px solid !important;color:#57a000 !important;
}