<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.member.MemberInfoDao">

    <!-- 获取会员信息 -->  
    <select id="loadMembers" resultType="member" parameterType="java.lang.String">  
       SELECT u.* FROM t_user u WHERE 1 = 1 ${_parameter}
    </select>
    <!-- 获取会员信息记录数 -->  
    <select id="getMemberInfosCount" resultType="int" parameterType="java.lang.String">  
       SELECT count(u.userId) FROM t_user u WHERE 1 = 1 ${_parameter}
    </select>
    <select id="getMaxSortNo" resultType="int" parameterType="java.lang.String">  
       SELECT MAX(sortNo) FROM t_hotsupply_ranking
    </select>
    <!-- 获取供应商榜单信息 -->  
    <select id="loadSupplyRanking" resultType="member" parameterType="java.lang.String">  
       SELECT u.*,r.id,r.updateTime,r.sortNo FROM t_user u,t_hotsupply_ranking r WHERE r.supplyId = u.userId ORDER BY r.sortNo ${_parameter}
    </select>
    <!-- 获取供应商榜单记录数 -->  
    <select id="getSupplyRankingCount" resultType="int" parameterType="java.lang.String">  
       SELECT count(*)FROM t_hotsupply_ranking
    </select>
    <update id="updateRankingSortNo" parameterType="int">
        <![CDATA[
         UPDATE t_hotsupply_ranking a,(select sortNo from t_hotsupply_ranking where id=#{value}) b
         SET   a.sortNo = a.sortNo-1,a.updateTime=now()
         WHERE a.sortNo>b.sortNo
        ]]>
	</update>
	<delete id="removeRankingSupply" parameterType="int">
        <![CDATA[
         DELETE from t_hotsupply_ranking WHERE id=#{value}
        ]]>
	</delete>
	<update id="updateSupplyRankingSort" parameterType="java.util.Map">
        <![CDATA[
         UPDATE t_hotsupply_ranking
         SET   sortNo = sortNo-1,updateTime=now()
         WHERE sortNo>#{oldSortNo} and sortNo <= #{sortNo} 
        ]]>
	</update>
	<update id="updateSupplySelfSortNo" parameterType="java.util.Map">
        <![CDATA[
         UPDATE t_hotsupply_ranking
         SET   sortNo = #{sortNo},updateTime=now()
         WHERE id=#{id}
        ]]>
	</update>
	<update id="updateSupplySortNo" parameterType="java.util.Map">
        <![CDATA[
         UPDATE t_hotsupply_ranking
         SET   sortNo = sortNo+1,updateTime=now()
         WHERE sortNo < #{oldSortNo} AND sortNo >= #{sortNo}
        ]]>
	</update>
	<select id="isExists" resultType="int" parameterType="int">
        <![CDATA[
         SELECT count(*)
		 FROM t_hotsupply_ranking
		 WHERE supplyId=#{value}
       ]]>
	</select>
	<insert id="addRankingSupply" parameterType="int">
        <![CDATA[
         INSERT INTO t_hotsupply_ranking(supplyId,sortNo,updateTime)
         select #{value},IFNULL(max(sortNo),0)+1,now() from t_hotsupply_ranking
        ]]>
	</insert>
    <!-- 根据用户编号获取会员信息 -->  
    <select id="getMemberInfoByUserId" resultType="member" parameterType="int">  
       SELECT * FROM t_user WHERE userId=#{value}
    </select>
    <!-- 审核会员信息 -->
    <update id="aduitMember" parameterType="member">
        <![CDATA[
         UPDATE t_user 
		 SET   state=#{state},enableTime=#{enableTime},cutoffTime=#{cutoffTime}
		 WHERE userId=#{userId}
        ]]>
	</update>
	 <!-- 审核签约会员信息 -->
    <update id="aduitAndModCutoffTime" parameterType="member">
        <![CDATA[
         UPDATE t_user 
		 SET   state=2,enableTime=#{enableTime},cutoffTime=#{cutoffTime}
		 WHERE userId=#{userId}
        ]]>
	</update>
	<!-- 批量审核拒绝会员信息 -->
    <update id="batchRefuse" parameterType="String">
        <![CDATA[
         UPDATE t_user 
		 SET   state=3
		 WHERE userId in ${_parameter}
        ]]>
	</update>
	<!-- 批量审核拒绝会员信息 -->
    <update id="cutoffAccount" parameterType="String">
        <![CDATA[
         UPDATE t_user 
		 SET   state='4'
		 WHERE cutoffTime IS NOT NULL AND state!='4' AND LEFT(cutoffTime,10) = LEFT(now(),10)
        ]]>
	</update>
</mapper>