<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.orderdetail.OrderDetailDao">

    <select id="qurOrderDetailByOrderId" resultType="orderdetailVO" parameterType="int">  
        select *
        from t_order_detail
        where orderId=#{orderId}
    </select>
</mapper>