<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.finance.RechargeDao">
	<!-- 根据查询条件查询充值单列表 -->
	<select id="queryRechargeList" parameterType="hashmap" resultType="rechargeVO">
		<![CDATA[
        SELECT * FROM t_recharge
        WHERE  ${sqlChip} 
        ORDER BY rechargeId DESC
        LIMIT #{start},#{limit}
        ]]>
	</select>
	<!-- 根据查询条件查询充值单列表大小 -->
	<select id="queryRechargeListCount" parameterType="String" resultType="int">
		<![CDATA[
        SELECT count(*) FROM t_recharge
        WHERE  ${value}
        ]]>
	</select>
	<select id="queryRechargeById" resultType="rechargeVO" parameterType="int">  
        <![CDATA[
        SELECT * 
        FROM t_recharge
        WHERE rechargeId=#{value}
        ]]>
    </select>
    <update id="updateRecharge" parameterType="rechargeVO">
    	update t_recharge 
    	<set>  
	        <if test="state != 0">  
	            state = #{state},  
	        </if>  
	    </set>  
	    where rechargeId = #{rechargeId}  
    </update>
</mapper>