@charset "utf-8";     

#main-content .pagination {text-align:right;padding:20px 0 5px 0;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
.pagination a {border:1px solid #ddd;}
.pagination a, .pagination span {
    margin:0 5px 0 0;padding:6px 10px 6px 10px;
}

.pagination .current {
   background:rgb(38, 109, 187) url('../../Images/bg-button-green.gif') top left repeat-x !important;border-color:#459300 !important;color:#fff !important;
}
.pagination .current:hover {
   text-decoration:underline;
   border:0px;
}
.pagination :hover{
   color: rgb(38, 109, 187);
   border: 0px rgb(38, 109, 187) solid;
}
.pagination span.prev, .pagination span.next{
	background:#ffffff!important;border:#ddd 0px solid !important;color:#57a000 !important;
}