<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="   
          http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
          http://www.springframework.org/schema/aop    
          http://www.springframework.org/schema/aop/spring-aop-2.0.xsd   
          http://www.springframework.org/schema/tx    
          http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"> 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/guole?useUnicode=true&amp;characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value="zm12393012998"/>
		<property name="maxActive" value="15" />
		<property name="maxIdle" value="10" />
		<property name="maxWait" value="1000" />
		<!--removeAbandoned: 是否自动回收超时连接-->  
		<property name="removeAbandoned" value="true"/>  
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位)-->  
		<property name="removeAbandonedTimeout" value="300"/>  
		<property name="validationQuery">  
		   <value>SELECT 1</value>  
		</property>  
	</bean>
	
	<!-- 配置sqlSessionFactory -->  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="configLocation" value="classpath:mybatis_config.xml" />  
    </bean>
  
    <!-- 配置sqlSessionTemplate -->  
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">  
        <constructor-arg index="0" ref="sqlSessionFactory" />  
    </bean>  
  
    <!-- 配置事务 -->  
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
    <tx:annotation-driven transaction-manager="txManager" />
    
   	<!-- 账单流水配置 -->
	<bean id="billDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
        <property name="mapperInterface" value="com.guole.dao.bill.BillDao" />  
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="billService" class="com.guole.service.bill.BillServiceImpl">
		<property name="billDao" ref="billDao"></property>
	</bean>
    
    <!-- 用户信息配置 -->  
    <import resource="userInfo_spring.xml"/>
    <!-- 礼品卡信息配置 -->  
    <import resource="giftcard_spring.xml"/>
    <!-- 会员卡信息配置 -->  
    <import resource="vipcard_spring.xml"/>
    <!-- 账户管理配置 -->  
    <import resource="accountManage_spring.xml"/>
    <!-- 消息信息配置 -->  
    <import resource="postbox_spring.xml"/>
    <!-- 问答信息配置 -->  
    <import resource="comment_spring.xml"/>
</beans>