<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guole.dao.gift.GiftCardDao">

    <!-- 获取礼品卡种类 -->  
    <select id="getGiftCardType" resultType="giftCardType" parameterType="java.util.Map">  
       SELECT * FROM t_gift_card_type WHERE state=1 order by id asc limit #{pageIndex},#{pageSize}
    </select>
    <!-- 获取礼品卡种类总数 -->  
    <select id="getGiftCardTypeCount" resultType="int" parameterType="java.util.Map">  
       SELECT count(*) FROM t_gift_card_type WHERE state=1
    </select>
    <!-- 根据礼品卡类型编号获取礼品卡类型信息 -->  
    <select id="getGiftCardTypeById" resultType="giftCardType" parameterType="int">  
       SELECT * FROM t_gift_card_type WHERE id=#{id}
    </select>
    
    <!-- 根据礼品卡编号和礼品卡密码 礼品卡状态获取礼品卡信息 -->  
    <select id="getGiftCardInfo" resultType="giftCardVO" parameterType="giftCardVO">  
       SELECT * FROM t_gift_card WHERE UPPER(cardNum)=UPPER(#{cardNum}) AND UPPER(pwd)=UPPER(#{pwd}) and state=#{state}
    </select>
    
    <!-- 使用礼品卡 修改礼品卡状态 礼品卡使用时间 -->
    <update id="updateGiftCardInfo" parameterType="giftCardVO">
        UPDATE t_gift_card SET state=2,useTime=#{useTime} WHERE id=#{id};
    </update>
</mapper>