<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guole.dao.linkaddr.LinkAddrDao">
    <!-- 定义要操作的SQL语句 -->  
    <insert id="insertLinkAddr" parameterType="linkaddr">  
        insert into t_link_addr (userId,address,linkMan,linkPhone)
        values(#{userId},#{address},#{linkMan},#{linkPhone}) 
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
    </insert>
    <update id="updateLinkAddr" parameterType="linkaddr">
        UPDATE t_link_addr SET userId=#{userId},address=#{address},
        	linkMan=#{linkMan},linkPhone=#{linkPhone}
        WHERE id=#{id};
    </update>
    <delete id="deleteLinkAddr" parameterType="linkaddr">
    	delete from t_link_addr where id= #{id} and userId=#{userId}
    </delete>
    <select id="getLinkAddrsByUserId" resultType="linkaddr" parameterType="java.util.Map">  
        select *  from t_link_addr 
        where userId=#{userId}
        order by id desc
        limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="getLinkAddrCountByUserId" resultType="int" parameterType="int">  
        <![CDATA[
        select count(*) 
        from t_link_addr 
        where userId = #{userId}
        ]]>
    </select>
</mapper>