<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guole.dao.user.UserInfoDao">

    <!-- 根据登陆账号和登陆密码获取用户信息 -->  
    <select id="getUserInfo" resultType="user" parameterType="user">  
       SELECT * FROM t_user WHERE UPPER(userAccount)=UPPER(#{userAccount}) AND UPPER(pwd)=UPPER(#{pwd})
    </select>
     <!-- 根据用户编号获取用户信息 -->  
    <select id="getUserInfoByUserId" resultType="user" parameterType="int">  
       SELECT * FROM t_user WHERE userId=#{value}
    </select>
    <!-- 校验用户账号是否已存在 -->  
    <select id="getUserCountByUserAccount" resultType="int" parameterType="String">  
       SELECT count(*) FROM t_user WHERE upper(userAccount)=upper(#{value})
    </select>
     <!-- 校验公司名称及品牌名称是否已存在 -->  
    <select id="getCorInfo" resultType="user" parameterType="java.util.Map">  
       SELECT * FROM t_user WHERE corname = #{corname}
    </select>
    <!-- 添加用户基本信息 -->  
    <insert id="addUserInfo" parameterType="user">
        <![CDATA[
         INSERT INTO t_user(name,avatar,qq,email,mobile,integration,corname,cornum,coraddr,
         corLinkMan,corLinkphone,corEmail,userAccount,pwd,usertype,cardId,state)
         VALUES(#{name},#{avatar},#{qq},#{email},#{mobile},#{integration},#{corname},#{cornum},#{coraddr},
         #{corLinkMan},#{corLinkphone},#{corEmail},#{userAccount},#{pwd},#{usertype},#{cardId},#{state})
        ]]>
	</insert>
	<!-- 更新用户基本信息 -->  
	<update id="modifyUserInfo" parameterType="user">
        <![CDATA[
         UPDATE t_user 
		 SET   name=#{name},
		       qq=#{qq},
		       email=#{email},
		       mobile=#{mobile}
		 WHERE userId=#{userId}
        ]]>
	</update>
	<!-- 更新用户公司信息 -->  
	<update id="modifyUserCorInfo" parameterType="user">
        <![CDATA[
         UPDATE t_user 
		 SET   corname=#{corname},
		       coraddr=#{coraddr},
		       officephone=#{officephone},
		       officefax=#{officefax},
		 WHERE userId=#{userId}
        ]]>
	</update>
	<!-- 更新用户登陆密码 -->  
	<update id="modifypassword" parameterType="user">
        <![CDATA[
         UPDATE t_user 
		 SET   pwd=#{pwd}
		 WHERE userId=#{userId}
        ]]>
	</update>
	<!-- 更新用户头像 -->  
	<update id="modifyUserHead" parameterType="user">
        <![CDATA[
         UPDATE t_user 
		 SET   avatar=#{avatar}
		 WHERE userId=#{userId}
        ]]>
	</update>
	
	<!-- 添加企业申请信息 -->  
    <insert id="addApplyCompanyInfo" parameterType="applyCompanyInfo">
        <![CDATA[
         INSERT INTO t_apply_company_info(userId,applyTime,state)
         VALUES(#{userId},#{applyTime},#{state})
        ]]>
	</insert>
	<!-- 根据用户编号获取用户虚拟账户-->  
    <select id="qurUserAccountByUserId" resultType="userAccount" parameterType="int">  
       SELECT * FROM t_account WHERE userId=#{value}
    </select>
    <!-- 根据用户编号获取用户虚拟账户列表-->  
    <select id="qurUserAccount" resultType="int" parameterType="userAccount">  
       SELECT count(*) FROM t_account WHERE userId=#{userId} AND paypassword=#{paypassword}
    </select>
	<!-- 添加用户虚拟账户信息 -->  
    <insert id="addUserAccount" parameterType="userAccount">
        <![CDATA[
         INSERT INTO t_account(userId,
         paypassword,state,balance)
         VALUES(#{userId},
         #{paypassword},1,#{balance})
        ]]>
	</insert>
    <!-- 更新用户虚拟账户信息 -->  
	<update id="modifyUserAccount" parameterType="userAccount">
        <![CDATA[
         UPDATE t_account 
		 SET  accounttype=#{accounttype},
		       state=1
		 WHERE id=#{id}
        ]]>
	</update>
	 <!-- 更新用户虚拟账户支付密码 -->  
	<update id="modifyPaypassword" parameterType="userAccount">
        <![CDATA[
         UPDATE t_account 
		 SET   paypassword=#{paypassword}
		 WHERE userId=#{userId}
        ]]>
	</update>
	
	    <!-- 更新用户虚拟账户余额信息 -->  
	<update id="modifyUserBalance" parameterType="java.util.Map">
        <![CDATA[
         UPDATE t_account 
		 SET   balance=#{balance}
		 WHERE userId=#{userId}
        ]]>
	</update>
     <!-- 获取用户虚拟账户余额信息 -->  
    <select id="queUserBalance" resultType="double" parameterType="int">
        SELECT a.balance FROM t_account a WHERE userId=#{userId}
    </select>
</mapper>