<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guole.dao.vip.VIPCardDao">

    <!-- 获取会员卡种类 -->  
    <select id="getVIPCards" resultType="vipCardVO" parameterType="java.util.Map">  
       SELECT * FROM t_vip_card WHERE state=1 order by cardId asc limit #{pageIndex},#{pageSize}
    </select>
    <!-- 获取会员卡种类总数 -->  
    <select id="getVIPCardsCount" resultType="int">  
       SELECT count(*) FROM t_vip_card WHERE state=1
    </select>
</mapper>