@charset "utf-8";
/* ////////////////////////////////////// */
/* public                                 */
/* by：fico.z                             */
/* MSN/QQ : fico.z@hotmail.com            */
/* ////////////////////////////////////// */
html,body,a,b,div,form,input,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,p,em,span,label,select,button,table,tbody,tfoot,thead,tr,th,td,fieldset{margin:0;padding:0;border:0;outline:0;font-size:100%}
body,td,th,input,textarea{font:12px/1.6  Arial,Helvetica,sans-serif;color:#454545}
body{line-height:1.5;overflow-y:scroll;background:#E5F2F9}
ul,ol,dl,dt,dd,li{list-style:none}
:focus{outline:none}
input,textarea{resize:none;border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;border-style:solid;border-width:1px;padding:4px;color:#777;border-radius:2px;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition:border linear .2s, box-shadow linear .2s;
-moz-transition:border linear .2s, box-shadow linear .2s;
-o-transition:border linear .2s, box-shadow linear .2s;
transition:border linear .2s, box-shadow linear .2s
}
input{padding:0 3px;line-height:24px;height:24px;}
textarea{padding:5px;text-indent:0}
input:focus,textarea:focus{
border-color:rgba(82, 168, 236, 0.8);
outline:0;
outline:thin dotted\9;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}
em,i{font-style:normal}
table{border-collapse:collapse;border-spacing:0;}
select,.VMid{vertical-align:middle}
select{font-size:12px;padding:3px 5px;color:#666;border:1px solid #CFCFCF;border-radius:4px}
option{color:#333}
.focus{color:#000;opacity:1;}
.BNo{background:none;border:0}
/*滚动条*/
::-webkit-scrollbar{width:16px;height:16px;background-color:#F0F0F0;border:none}
::-webkit-scrollbar-track-piece{background-color:#F0F0F0;border-left:1px solid #CCC}
::-webkit-scrollbar-thumb{background-color:#CDCDCD;background-color:rgba(0, 0, 0, .2);background-clip:padding-box;border:solid transparent;border-width:1px 2px 1px 2px;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)}
::-webkit-scrollbar-thumb:hover{background-color:#DADADA}
::-webkit-scrollbar-thumb:active{background-color:#606060}
::-webkit-scrollbar-thumb:disabled{background-color:#F9F9F9}
::-webkit-scrollbar-corner{background-clip:padding-box;background-color:#F5F5F5;border:solid #FFF;border-width:3px 0 0 3px;box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14)}
/* ----- base links ----- */
a{text-decoration:none;outline:none;color:#1996E6}
a:link{}/*未被访问*/
a:visited{}/*已被访问*/
a:hover{color:#1269A1;text-decoration:underline}/*鼠标悬停*/
a:active{}/*被激活*/
/*定义边*/
.Bor{border:1px solid #CFCFCF}
.BorB{border-bottom:1px solid #EEE}
/*背景*/
.BA,.BB,.BC,.BD{color:#FFF}
.BA{background:url(../Images/AlbumB.gif)}
.BB{background:#1996E6;}
/*定义颜色*/
.CW{color:#FFF}
.CA{color:#AAA}
.CB{color:#080}
.CC{color:#1996E6}
.CD{color:#F00}
.CE{color:#41AB01}
/*定义清楚浮动*/
.Cle{display:block;clear:both;height:0;font-size:0;line-height:0}
/*定义光标类型*/
.Cur{cursor:pointer}
.CurE{cursor:e-resize}
/*定义块*/
.DisB{display:block}
.DisIn{display:inline-block}
.DisNo{display:none}
/*定义浮动*/
.FL{float:left}
.FR{float:right}
.FN{float:none}
/*字体*/
.FF{font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei"}
.FNum{font-size:18px;font-family:Tahoma}
.FFG{font-family:Georgia}
.F12{font-size:12px}
.F13{font-size:13px}
.F14{font-size:14px}
.F16{font-size:16px}
.F18{font-size:18px}
.F20{font-size:20px}
.F22{font-size:22px}
.F24{font-size:24px}
.F28{font-size:28px}
.FB{font-weight:700}
.FBN{font-weight:100}
.FO{white-space:nowrap;word-wrap:normal;word-break:normal;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
/*隐藏*/
.Hid{visibility:hidden}
/*定义列表*/
.BLists{padding:0 1px}
.BLists li{height:22px;line-height:22px;padding:5px 0;border-top:1px dotted #FFF;border-bottom:1px dotted #E5E5E5}
.CLists{padding:0 1px}
.CLists li{height:22px;line-height:22px;padding:5px 0;}
/*线条*/
.Line1{line-height:18px;color:#CCC;margin:0 5px}
/*边距*/
.MTB{margin:10px 0}
.MB{margin-bottom:8px}
.MR{margin-right:8px}
/*定义位置*/
.PA{position:absolute}
.PR{position:relative}
.PF{position:fixed}
.PS{position:static}
/*定义文本*/
.TL{text-align:left}
.TR{text-align:right}
.TC{text-align:center}
/*定义隐藏*/
.OH{overflow:hidden}
.OA{overflow:auto}
.VH{visibility:hidden}
/*定义宽度*/
.WAll{width:1000px;margin:0 auto;position:relative}
.WOAll{width:100%;overflow:hidden}
.WMin{width:30px}
.WMinS{width:60px}
.WMid{width:90px}
.WMids{width:180px}
.WMax{width:270px}
.WMaxS{width:350px}
.WMaxSi{width:400px}
.WMaxSx{width:450px}
.WMaxX{width:500px}
.WMaxi{width:600px}
.MW3{width:300px!important}
.MW3i{width:350px!important}
.MW4{width:400px!important}
.MW4i{width:450px!important}
.MW5{width:500px!important}
.MW5i{width:550px!important}
.MW5x{width:570px!important}
.MW6{width:600px!important}
.MW6i{width:650px!important}
.MW7{width:700px!important}
.MW7i{width:750px!important}

/*图标*/
.I{background-image:url(../Images/Icon/Icon.gif);background-repeat:no-repeat;width:16px;height:16px;vertical-align:middle}
.IArrowDownW{background-position:-217px 0;width:5px;height:3px}
.IDown{background-position:-222px 0;width:9px;height:5px}
.IDownW{background-position:-211px -1px;width:7px;height:4px}
.IMClose{background-position:-279px 0;width:21px;height:20px}
.IPClose{background-position:-202px -19px;width:8px;height:8px}
.IBClose{background-position:-32px 0}
.IDotR{background-position:-202px 0;height:6px;width:3px}
.ISeekZ{background-position:-128px 0}
.ISeekD{background-position:-144px 0}
.ISeekJ{background-position:-160px 0}
.ISeekM{background-position:-128px -16px}
.ISeekQ{background-position:-144px -16px}
.ISupp{background-position:-64px 0}
.ICloseBuy{background-position:-48px 0}
.ICollect{background-position:-80px 0}
.ISJT{background-position:0 -16px;}
.ISZS{background-position:-16px -16px;}
.ISJD{background-position:-32px -16px;}
.ISCY{background-position:-48px -16px;}
.IEditor{background-position:-210px -19px;width:8px;height:8px}
.IQQJT{background-position:-128px -32px;width:75px;height:24px}
.IAddPhoto{background-position:-64px -16px}

.IX{background-image:url(../Images/Icon/Icon24.png);background-repeat:no-repeat;width:16px;height:16px;vertical-align:text-top;margin-right:2px;}
.ITX{background-position:0 0}
.ITourT,.ITourD{width:7px;height:4px;display:inline-block;position:absolute;margin-left:2px}
.ITourT{background-position:-240px 0;top:13px}
.ITourD{background-position:-240px -3px;top:19px}

.E{background-image:url(../Images/Icon/EIcon.png);background-repeat:no-repeat;width:16px;height:16px;vertical-align:middle}
.EWA{width:16px;height:16px}
.EWB{width:20px;height:20px}
.ELine{background-position:0 0;}
.ESupply{background-position:-16px 0;}
.ETel{background-position:-32px 0}
.EType{background-position:0 -48px;width:20px;height:20px}
.ESame{background-position:-20px -48px;width:20px;height:20px}
.EAddPage{background-position:-64px 0}
.EDelPage{background-position:-80px 0}
.EOpen{background-position:-112px 0}
.EDelAll{background-position:-128px 0}
.EMarker{background-position:-96px 0}
.ETips{background-position:-144px 0}
.EHome{background-position:0 -16px}
.EColl{background-position:-16px -16px}
.EInqu{background-position:-32px -16px}
.ERecr{background-position:-48px -16px}
.EInfo{background-position:-64px -16px}
.EMsg{background-position:-80px -16px}
.EGood{background-position:-96px -16px}
.EPost{background-position:-112px -16px}
.ESubs{background-position:-128px -16px}
.ESite{background-position:-144px -16px}
.EGN{background-position:-40px -48px}
.ECJ{background-position:-60px -48px}
.EZT{background-position:-80px -48px}
.ELineType{background-position:-32px -32px}
.ELineGN{background-position:-16px -32px}
.ELineGJ{background-position:0 -32px}

.T{background-image:url(../Images/Ti.png);background-repeat:no-repeat;width:100px;height:24px;vertical-align:middle}
.TSpec{background-position:0 -24px}


/*表单*/
.IBoxTip{position:relative;display:inline-block;background:none;z-index:888;vertical-align:middle}
.IEnter{float:left;vertical-align:middle}
.IExplain{color:#AAA;cursor:text;left:0;text-indent:8px;position:absolute;top:0;visibility:visible;font-weight:100;z-index:666}

/*表格*/
.BTable td{padding:8px 5px;}
.BTable td.TTi{text-align:right;width:65px;white-space:nowrap;color:#777}

.TableL td{padding:8px 5px;border-bottom:1px dotted #EEE}

.CTable td{padding:5px;line-height:26px;border-bottom:1px solid #EEE}
.CTable td.CA{text-align:right;width:80px;white-space:nowrap;vertical-align:top}

.LTable{margin:15px 0}
.LTable .Title{line-height:30px;height:30px;font-weight:700}
.LTable table{background:#FFF}
.LTable table th{background:#F1F1F1;}
.LTable table th,
.LTable table td{border:1px solid #DDD;padding:5px}
.LTable table td{text-align:center}



/*按钮*/
.But{display:inline-block;height:20px;line-height:20px;padding:4px 12px;overflow:visible;background:#FF8A00;color:#FFF;border-radius:3px;border:0;text-align:center;cursor:pointer;

display:inline-block;
*display:inline;
padding:4px 12px;
margin-bottom:0;
*margin-left:.3em;
font-size:14px;
line-height:20px;
color:#333;
text-align:center;
text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align:middle;
cursor:pointer;
background-color:#f5f5f5;
*background-color:#e6e6e6;
background-image:-moz-linear-gradient(top, #fff, #e6e6e6);
background-image:-webkit-gradient(linear, 0 0, 0 100 % , from(#fff), to(#e6e6e6));
background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
background-image:-o-linear-gradient(top, #fff, #e6e6e6);
background-image:linear-gradient(to bottom, #fff, #e6e6e6);
background-repeat:repeat-x;
border: 1px solid#ccc;
*border:0;
border-color:#e6e6e6 #e6e6e6 #bfbfbf;
border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color:#b3b3b3;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
*zoom:1;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05)
}
.But:hover,
.But:focus,
.But:active,
.But.active,
.But.ButN,
.But[disabled]{background:#E77C00;text-decoration:none;color:#FFF;
color:#333;
background-color:#e6e6e6;
*background-color:#d9d9d9;
}
.ButMain{
color:#fff;
text-shadow:0 - 1px 0 rgba(0, 0, 0, 0.25);
background-color:#006dcc; 
*background-color:#04c;
background-image:-moz-linear-gradient(top, #08c, #04c);
background-image:-webkit-gradient(linear, 0 0, 0 100 % , from(#08c), to(#04c));
background-image:-webkit-linear-gradient(top, #08c, #04c);
background-image:-o-linear-gradient(top, #08c, #04c);
background-image:linear-gradient(to bottom, #08c, #04c);
background-repeat:repeat-x;
border-color:#04c #04c #002a80;
border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
filter:progid: DXImageTransform.Microsoft.gradient(enabled = false)
}
.ButMain:hover,
.ButMain:focus,
.ButMain:active,
.ButMain.active{
color:#fff;
background-color:#04c; 
*background-color:#003bb3
}

.BMi{padding:0px 6px;font-size:12px;border-radius:2px;}
.BLa{padding:11px 19px;font-size:18px;font-weight:700;border-radius:6px;}

.ButA{
color:#965A03;
text-shadow:0 - 1px 0 rgba(0, 0, 0, 0.25);
background-color:#faa732;
*background-color:#f89406;
background-image:-moz-linear-gradient(top, #FFCE89, #f89406);
background-image:-webkit-gradient(linear, 0 0, 0 100 % , from(#FFCE89), to(#f89406));
background-image:-webkit-linear-gradient(top, #FFCE89, #f89406);
background-image:-o-linear-gradient(top, #FFCE89, #f89406);
background-image:linear-gradient(to bottom, #FFCE89, #f89406);
background-repeat:repeat-x;
border-color:#f89406 #f89406 #ad6704;
border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fffbb450', endColorstr = '#fff89406', GradientType = 0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.ButA:hover,
.ButA:focus,
.ButA:active,
.ButA.active{background-color:#f89406;*background-color:#df8505}

.ButB{
color:#00609E;
text-shadow:0 - 1px 0 rgba(0, 0, 0, 0.25);
background-color:#0099FF; 
*background-color:#0099FF;
background-image:-moz-linear-gradient(top, #74C7FF, #0099FF);
background-image:-webkit-gradient(linear, 0 0, 0 100 % , from(#74C7FF), to(#0099FF));
background-image:-webkit-linear-gradient(top, #74C7FF, #0099FF);
background-image:-o-linear-gradient(top, #74C7FF, #0099FF);
background-image:linear-gradient(to bottom, #74C7FF, #0099FF);
background-repeat:repeat-x;
border-color:#0099FF #0099FF #ad6704;
border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fffbb450', endColorstr = '#fff89406', GradientType = 0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.ButB:hover,
.ButB:focus,
.ButB:active,
.ButB.active{background-color:#0099FF;*background-color:#df8505}




/*网站服务*/
.SiteServe{position:absolute;right:0;top:24px}
.SiteServe dt,
.SiteServe dd{float:left;margin-right:20px;color:#666}
.SiteServe .SiteI{background:url(../Images/Service.gif) no-repeat;width:26px;height:27px;vertical-align:middle;margin-right:5px}
.SiteServe .SiteIY{background-position:0 0}
.SiteServe .SiteIC{background-position:-26px 0}
.SiteServe .SiteIT{background-position:-52px 0}
.SiteServe .SiteITi{background-position:0 -27px;width:58px;height:32px}









.ButBlue{background:#0099FF}
.ButBlue:hover{background:#0066CC}
.ButGray{background:#F2F2F2;color:#888;border:1px solid #E3E3E3}
.ButGray:hover{background:#DDD;color:#666;border:1px solid #CCC}
.ButLogin{background:#FF8A00}
.ButLogin:hover{background:#E77C00}


.ButN,
.ButN:hover,
.ButN:focus,
.ButN:active,
.ButN.active,
.ButN[disabled]{
color:#333;
cursor:default;
background-color:#e6e6e6;
background-image:none;
opacity:.65;
filter:alpha(opacity = 65); 
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

/*链接按钮*/
.LB{border-radius:2px;text-indent:0;padding:1px 5px;color:#FFF;background:#FF8A00;display:inline-block;}
.LB:hover{background:#E77C00;color:#FFF;text-decoration:none}
.LBA{background:#F00}
.LBA:hover{background:#C00}
.LBB{background:#0097E4}
.LBB:hover{background:#0086cb}
.LBC{background:#7bb724}
.LBC:hover{background:#629a12}
.LBD{background:#EB4AE7}
.LBD:hover{background:#E51CE1}
.LBE{background:#1abc9c}
.LBE:hover{background:#17A689}

.LBHA{height:14px;line-height:14px}
.LBHB{height:18px;line-height:18px;padding:1px 6px;}
.LBHC{height:22px;line-height:22px;padding:1px 9px;}
.LBHD{height:26px;line-height:26px;padding:0 12px;font-size:13px}
.LBHE{height:30px;line-height:30px;padding:0 15px;font-size:14px}
.LBHF{height:32px;line-height:32px;padding:0 18px;font-size:16px}
.LBHG{height:34px;line-height:34px;padding:0 22px;font-size:18px}

.LBTJ,.LBTJ:hover{background:#F33}
.LBWH,.LBWH:hover{background:#C0C}
.LBTE,.LBTE:hover{background:#F60}

.LBSA,.LBSA:hover{background:#7bb724}

.LCA{color:#FF8A00}
.LCA:hover{color:#E77C00}
.LCB{color:#F00}
.LCB:hover{color:#C00}
.LCC{color:#0097E4}
.LCC:hover{color:#0086cb}

.LBor{padding:1px 5px;border:1px solid #d5d5d5;color:#999;border-radius:2px;display:inline-block;}

.LBorA:hover{border:1px solid #18C;color:#18C}
.LBorB:hover{border:1px solid #FF8A00;color:#FF8A00}
.LBorC:hover{border:1px solid #7bb724;color:#7bb724}
.LBorD:hover{border:1px solid #dd6d87;color:#dd6d87}

/*无效按钮链接*/
.Disable,
.Disable:hover,
.Disable:focus,
.Disable:active,
.Disable[disabled]{border-color:#eee #ddd #bbb #ddd;cursor:default;background:#e6e6e6;color:#333;opacity:.65;filter:alpha(opacity=65)}

/*Tabs*/
.Tabs{position:relative;height:20px}
.Tabs li{float:left;text-align:center;cursor:pointer}
.TabsCon{padding:5px 0}

/*翻页*/
.Pages{margin:10px 0;height:30px;line-height:28px;text-align:center}
.Pages a{padding:6px 10px;height:20px;line-height:20px;background:#FFF;color:#666;border:1px solid #DDD}
.Pages a:hover{background-position:0 -30px}
.Pages a.Disabled,.Pages a:hover.Disabled{color:#d5d5d5;border:1px solid #f3f3f3}
.Pages a:hover,.Pages a.Active:hover,.Pages a.Active{border:1px solid #008000}
.Pages a.Active:hover,.Pages a.Active{color:#FFF;background:#008000}
.Pages a:hover{color:#008000}	
/*弹出框*/
.Poplayer{background-color:#000;overflow:hidden;top:0;left:0;height:100%;width:100%;opacity:0.3;filter:alpha(opacity=30);zoom:1}
.BlankBox{background:url(../Images/White9.png);position:fixed;z-index:9999;}
.ModalBG{position:fixed;min-width:300px;box-shadow:rgba(50,50,50,0.3) 0 1px 3px}
.ModalBox .ModalBor{position:relative;background:#FFF}
.ModalBox .MBoxT{background:#F9F9F9;height:50px}
.ModalBox .MBoxT .MClose{margin:15px 15px 0 0}
.ModalBox .MBoxT .MClose:hover .IMClose{background-position:-258px 0}
.ModalBox .MBoxT .MBTi{font-size:18px;line-height:50px;margin-left:20px}
.ModalBox .MBoxC{padding:15px 15px 10px}
.ModalBox .MBoxB{text-align:right;padding:0 15px 15px 0;overflow:hidden}
.ModalBox .MBoxB .MBoxBut{background:#30B526;padding:0 15px;display:block;float:right;margin-left:10px;color:#FFF}
.ModalBox .MBoxB a:hover.MBoxBut{background:#009900;text-decoration:none;color:#FFF}
.ModalBox .MBoxB .ModalClose{background:#F1F2F3;padding:0 15px;display:block;float:right;margin-left:10px;color:#888}
.ModalBox .MBoxB a:hover.ModalClose{background:#AAA;text-decoration:none;color:#FFF}

/*选择框*/
.Selects{position:relative;z-index:9999}
.Selects .Selecteds{display:inline-block;padding:0 17px 0 5px;height:22px;line-height:22px;border:1px solid #D7D7D7;color:#666;text-decoration:none;cursor:pointer;overflow:hidden;background:#FFF url(../Images/Icon/Selected.png) no-repeat 100% -116px;}
.Selects .Selecteds img{margin-top:4px;vertical-align:top}
.Selects .Active{background-position:100% -140px}
.Selects .Options{border:1px solid #D7D7D7;background-color:#FFF;overflow-y:auto;overflow-x:hidden;z-index:989;position:absolute;top:25px;left:0;width:100px}
.Selects .Options li{padding:0 5px;height:20px}
.Selects .Options li a{color:#666;display:block;text-decoration:none}
.Selects .Options li a img{margin-top:4px;vertical-align:top}

/*空内容*/
.NotCon{text-align:center;padding:30px 0}
.NotCon .Con{border:1px dotted #EEE;margin:0 30px;background:url(../Images/Add.png) no-repeat center 30px #FFF;padding:30px 0;border-radius:15px}
.BlankCon{text-align:center;padding:30px 0;background-repeat:no-repeat;background-position:left center;}
.BlankCon .Con{margin:0 30px;padding:30px 0;font-size:14px;color:#FF9900}

/*提示内容*/
.TipsBox{padding:10px;color:#555}

.box a:hover {background: transparent !important;}

/*提醒*/
.Reminder{padding:10px;line-height:25px;color:#666}
.Reminder dt{font-weight:700;color:#454545}

/*提示信息*/
.Alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
background-color:#fcf8e3;
border:1px solid #fbeed5;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px
}
.Alert,
.Alert h4{color:#c09853}
.Alert h4{margin:0;
font-size:18px;
font-family:inherit;
font-weight:bold;
line-height:20px;
color:inherit;
text-rendering:optimizelegibility;
}
.Alert .AClose {position:relative;top:-2px;right:-21px;line-height:20px;float: right;
font-size: 20px;
font-weight: bold;
line-height: 20px;
color: #000;
text-shadow: 0 1px 0 #FFF;
opacity: .2;
filter: alpha(opacity=20);}
.AClose:hover{
color: #000;
text-decoration: none;
cursor: pointer;
opacity: .4;
filter: alpha(opacity=40);}
.AlertSuccess{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}
.AlertSuccess h4{color:#468847}
.AlertDanger,
.AlertError{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}
.AlertDanger h4,
.AlertError h4{color:#b94a48}
.AlertInfo{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}
.AlertInfo h4{color:#3a87ad}
.AlertBlock{padding-top:14px;padding-bottom:14px}

/*登录*/
.LoginMain{height:600px;background:#EFEFEF}
.LoginMain .LoginAd{width:500px;position:absolute;top:50px}
.LoginMain .LoginBox{position:absolute;width:360px;right:70px;top:100px}
.LoginMain .LoginBox .Title{line-height:50px;background:url(../Images/LoginLine.png) bottom center no-repeat;padding-bottom:10px;margin-bottom:10px;}
.LoginMain .LoginBox .ItemList{margin:0 10px;padding-bottom:10px}
.LoginMain .LoginBox .ItemList td{padding:10px 0}
.LoginMain .LoginBox .ItemList td.TTi{width:55px;padding-right:10px;text-align:right}
.LoginMain .LoginBox .ItemList .IEnter{height:34px;font-size:18px;line-height:34px;border-radius:0;width:250px}


/*弹出框登录*/
	.ModalLogin{width:420px;margin-top:20px}
	.ModalLogin .BTable td{padding:5px}
	.ModalLogin .BTable td .IEnter{height:34px;font-size:18px;line-height:34px;border-radius:0;}


/*注册*/
.RegBox{padding:15px}
.RegBox .BTable td{padding:3px 5px;}
.RegButBox{height:270px;padding:80px 0;margin-bottom:150px;position:relative}
.RegBut{background-image:url(../Images/RegBut.png);background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-999px}
.RegRetail{background-position:0 0;position:absolute;top:177px;left:137px;width:225px;height:75px;}
.RegRetail:hover{background-position:0 -75px}
.RegRetail:active{background-position:0 -150px}
.RegSupply{background-position:-225px 0;position:absolute;top:177px;right:137px;width:225px;height:75px;}
.RegSupply:hover{background-position:-225px -75px}
.RegSupply:active{background-position:-225px -150px}
.RegAgree{background-position:0 -225px;width:170px;height:51px;float:left}
.RegAgree:hover{background-position:0 -276px}
.RegAgree:active{background-position:0 -327px}
.RegAgreeN,
.RegAgreeN:hover,
.RegAgreeN:active{background-position:-110px -378px}

.RegReFill{background-position:0 -378px;width:110px;height:51px;float:left;margin-left:15px}
.RegReFill:hover{background-position:0 -429px}
.RegReFill:active{background-position:0 -480px}
.RegLogin{background-position:-170px -225px;width:208px;height:45px}
.RegLogin:hover{background-position:-170px -270px}
.RegLogin:active{background-position:-170px -315px}

/*上传相册*/
.UpLoadFile{position:relative;width:180px;height:40px;overflow:hidden;}
.UpLoadFile .File{width:100%;height:100%;font-size:35px;background:transparent;left:0;top:0;opacity:0;position:absolute;filter:alpha(opacity=0);zoom:1;z-index:5;padding:0;cursor:pointer}
.UpLoadFile .Text{position:absolute;background:#FF6686;width:100%;height:100%;line-height:40px;color:#FFF;left:0;top:0;border-radius:3px;z-index:1}
.UpLoadFile:hover .Text{background:#E60077}

/*Header*/
#Header{}
.MainBG{background:#FFF}
.MainBox{padding:15px 0}
.MainBox .Left{width:245px;margin-left:15px}
.MainBox .Right{width:720px}
.RBody{padding-right:15px}
.LBody{padding:0 3px}

.HeaderNav{height:32px;background:url(../Images/HeaderNavB.gif) repeat-x top}
.HeaderNav .Greet{line-height:30px;color:#AAA}

.UserNav{float:right;margin-right:10px}
.UserNav dd{float:left;position:relative;line-height:30px;height:32px;margin-left:5px;}
.UserNav dd .List{position:absolute;right:0;margin-top:-1px;z-index:999;line-height:18px;background:#FFF;padding:3px;box-shadow:rgba(50,50,50,0.3) 0 2px 3px;border-radius:2px;top:33px;}
.UserNav dd .List li{line-height:18px;white-space:nowrap;}
.UserNav dd .List li a{padding:5px 10px;display:block;color:#444;text-decoration:none}
.UserNav dd .List li a:hover{background-color:#F5F5F5}
.UserNav dd .List li.Line{background:#E9E9E9;padding:0;margin:2px 0;height:1px;line-height:0;overflow:hidden;font-size:0}
.UserNav a.Link{color:#666;text-decoration:none;display:block;padding:0 8px}
.UserNav a.Link:hover{color:#18C}
.UserNav .UserNavName .NameL .UserPic{position:relative;top:1px;float:left;margin:5px 3px 0 0}
.UserNav .UserNavName .NameL .IArrowDownW{position:relative;top:-3px;}

.HeaderTop{height:75px}
.HeaderTop .Logo{display:block}
.HeaderTop .Logo img{margin-top:2px;width:200px;height:73px;background:url(../Images/logo.jpg) no-repeat center;}

.HeaderBot{background-color:#009900;height:36px;}

.MainNav{padding-top:3px}
.MainNav li{float:left;display:block;line-height:30px;}
.MainNav li a{color:#FFF;font-size:14px;font-weight:700;padding:0 18px;text-decoration:none;display:block}
.MainNav li a:hover{color:#B2E6FF}
.MainNav li.Active a{background:url(../Images/HeaderB.jpg) repeat-x 0 -66px;color:#009900;border-radius:4px;}

.HLogin{height:24px;overflow:hidden;margin-top:5px;border:1px solid #006900;background:url(../Images/HeaderB.jpg) repeat-x 0 -66px;border-radius:4px;}
.HLogin li{float:left;display:block;line-height:24px;}
.HLogin li.Line{color:#4A7A0C}
.HLogin li a{display:block;padding:0 18px;color:#0E6804;text-decoration:none}
.HLogin li a:hover{background:url(../Images/HeaderB.jpg) repeat-x 0 -90px;}




/*PageBody*/
#PageBody{background:url(../Images/PageBodyB.jpg) no-repeat center top}
.MainBox{padding-top:20px;margin-bottom:15px}
.MainBox .MainM{width:240px}
.MainBox .MainC{width:760px}
.MainHeader{height:35px;line-height:35px;background:url(../Images/Icon/comment.gif) no-repeat 5px center;color:#999;border-bottom:1px solid #EEE;position:relative;margin-bottom:10px;padding-left:25px}
.MainHeader .Text{font-size:14px}
.MainHeader .Text .CA{font-size:12px;font-weight:100}
.MainHeader .Text .CD{font-weight:700}

.ABox{background:url(../Images/MainB.png) repeat-y -1000px;}
.ABox .PartL{padding-bottom:100px;float:left;width:240px}
.ABox .PartC{width:760px;float:right}
.ABox .PartC .ABoxC{position:relative;background:#FFF;padding:20px;word-wrap:break-word;}

.BBox{background:url(../Images/MainB.png) repeat-y -2000px ;}

/*面包屑*/
.BreadCrumb{padding:8px 0;margin-top:-20px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";color:#666;font-size:14px;padding-left:22px;background:url(../Images/Icon/Home.png) no-repeat 2px center}
.BreadCrumb a{color:#222}
.BreadCrumb .Current{font-size:12px}


/*搜索*/
.LSearch{height:30px;line-height:30px;margin-bottom:10px}
.LSearch .But,
.LSearch .IEnter{height:30px;line-height:30px}
/*左侧导航*/
.HotList{margin-bottom:10px}
.HotList .Title{border-bottom:1px solid #CBEEEE;color:#0098C5;line-height:30px;font-weight:700}
.HotList ul{padding:5px}
.HotList ul li{line-height:25px;color:#555}
.HotList ul li .Head{font-weight:700}
.HotList ul li a{color:#555}
/*检索查询*/
.Retrieval{border:1px solid #DDD;border-bottom:none;border-top:2px solid #009900}
.Retrieval dl{line-height:35px;height:35px;border-bottom:1px solid #DDD}
.Retrieval dl dt{float:left;display:block;width:100px;margin-right:10px;text-align:center;background:#F5F5F5}
.Retrieval dl dd a{padding:2px 5px}
.Retrieval dl dd .Active{background:#1996E6;color:#FFF}


	/*商品详情*/
	.GoodBox{padding:10px}
	.GoodBox .GoodTi{line-height:40px;font-size:18px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";border-bottom:1px solid #EEE;margin-bottom:15px;}
	.GoodBox .BasicInfo{margin-bottom:10px;padding-bottom:10px;position:relative;border-bottom:1px solid #EEE}
	.GoodBox .BasicInfo .LineR{width:560px}
	.GoodBox .BasicInfo .LineL{width:400px}
	.GoodBox .BasicInfo .LineBut{overflow:hidden;padding-left:1px;}
	.GoodBox .BasicInfo .LineBut a{background:none;border:none;-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;width:186px;margin-left:-1px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";height:40px;line-height:40px;color:#666;font-size:16px;float:left;padding:0;text-align:center;border-radius:0;margin:0}
	.GoodBox .BasicInfo .LineBut a:hover{background:#F5F5F5;color:#333;text-decoration:none}
	
	.GoodBox .BasicInfo .Choose{border:1px solid #EEE;margin-top:10px;padding:10px;line-height:35px}
	.Tours .BasicInfo .Choose .Co{color:#846850;float:left;margin-right:10px;text-align:right;width:50px;}
	.Tours .BasicInfo .Choose .Button{padding-left:60px}
	
	/*商品tab*/
	.LineTab{z-index:88;top:0;width:960px}
	.LineTab ul li{float:left;padding:0 10px;border-right:1px solid #4EC5EF;}
	.LineTab ul li a{color:#C0EBF9}
	.LineTab ul li a:hover{text-decoration:none}
	.LineTab ul li.Current a{color:#FFF}

	/*商品图片*/
	.LinePic li{float:left;margin:0 10px 10px 0;position:relative}
	.LinePic li a{background-position:-215px -6px;display:block;width:13px;height:13px;position:absolute;right:0;top:0}
	.LinePic li a:hover{background-position:-202px -6px}
	
	/*查看全部*/
	.AllPeriod{padding:10px 0;}
	.AllPeriod ul li{float:left;width:80px;line-height:25px;background:#FCFCFC;border:1px solid #DDD;text-align:center;margin:0 5px 5px 0;font-size:14px;}

	/*图片展示*/
	.CommImg{margin-bottom:10px}
	.CommImg .CommImgView{position:relative;width:100%;height:300px}
	.PicPrompt{background:url(../Images/Black4.png);padding:3px 8px;color:#FFF;right:0;top:0;z-index:99}
	.CommImg .CommImgView li a{font-size:0}
	.CommImg .CommImgView a.PicPreview{display:block}
	.CommImg .CommImgView .Text{background:url(../Images/Black4.png);bottom:0;padding:10px 0;width:100%;color:#FFF}
	.CommImg .CommImgView .Text p{margin:0 10px;}
	.CommImg .CommImgThumb{margin:10px 0;position:relative}
	.CommImg .CommImgThumb .CommImgThumbBox{height:56px;width:364px;margin-left:18px;overflow:hidden;position:relative}
	.CommImg .CommImgThumb .CommImgThumbBox ul{position:absolute}
	.CommImg .CommImgThumb .CommImgThumbBox ul li{position:relative;float:left;padding:0 3px}
	.CommImg .CommImgThumb .CommImgThumbBox ul li a{display:block;border:1px solid #FFF;padding:2px;width:80px;height:50px;overflow:hidden;text-align:center}
	.CommImg .CommImgThumb .CommImgThumbBox ul li.Active a{border:2px solid #7BB724;padding:1px;}
	.CommImg .CommImgThumb .CommImgThumbBox ul li img{height:50px;width:80px;}
	.CommImg .CommImgThumb .ImgBut{position:absolute;height:55px;background:url(../Images/arrow.png) no-repeat;width:14px;top:0;cursor:pointer;text-align:center}
	.CommImg .CommImgThumb .ImgBut img{background-position:100px 100px;}
	.CommImg .CommImgThumb .ImgLeft{left:0;background-position:0 0}
	.CommImg .CommImgThumb .ImgRight{right:0;background-position:-14px 0}

	
	
	/*概况*/
	.OutlineBox{margin:10px}
	.OutlineBox .Title{height:35px}
	.OutlineBox .Title .TiB{background:url(../Images/TiB.gif) repeat-x;line-height:35px;height:35px;font-size:14px;color:#FFF;padding:0 10px}
	.OutlineBox .OutlineCon{line-height:22px;color:#666}
	
	
/*卖家信息*/
.SellerInfo{line-height:30px}
.SellerInfo .SellSummary{padding:10px}

/*模块*/
.ModuleBox{margin:0 15px;padding:15px 0}
.ModuleBox .ModL{width:380px}
.ModuleBox .ModR{width:575px}
/*搜索/广告*/
.ModuleA{height:305px;margin-bottom:15px}
.ModuleA .ThemeAd{}

.Features{border:1px solid #EEE;padding:5px}
.Features ul li{display:inline-block;margin-left:15px}
/*最新单/最新特价*/
.ModuleB{margin-bottom:15px}
.ModuleB .Special .Title{height:30px;line-height:30px;border-bottom:2px solid #009900;padding-left:10px}
.ModuleB .Special .List{overflow:hidden}
.ModuleB .Special .List ul{width:970px;padding-top:10px}
.ModuleB .Special .List li{width:222px;margin-right:20px;float:left;}
.ModuleB .Special .List li .Link{padding:5px 0}
.ModuleB .Special .List li .Link .Ti{color:#555}



/*用户中心*/
.ManBox{}
.ManBox .Left{width:190px}
.ManBox .Right{width:798px;padding:10px 0}
/*用户头像*/
.UserPhoto{text-align:center;height:150px;width:150px;margin:20px 0 20px 20px;position:relative}
.UserPhoto .Name{position:absolute;bottom:0;background:url(../Images/Black4.png);line-height:25px;width:100%;color:#FFF;font-weight:700}
/*功能菜单*/
.ManSidebar{padding:0;}
.ManSidebar dl{border-bottom:1px dotted #CCC;margin:0 -3px}
.ManSidebar dl dt{font-size:14px;font-weight:700;padding-left:15px;line-height:30px}
.ManSidebar dl dd{padding-left:25px;line-height:30px;}
.ManSidebar dl dd a{color:#444}
.ManBuyers{background:#E9F4FC;border:1px solid #CCDFEF}
.ManBuyers .ManSidebar dt{color:#0066CC}
.ManBuyers .ManSidebar dd.Active{background:#BDDEF6}
.ManSeller{color:#F60;background:#FFF4EA;border:1px solid #FFD1B2}
.ManSeller .ManSidebar dt{color:#F60}
.ManSeller .ManSidebar dd.Active{background:#FFDCBF}

/*用户信息*/
.UserInfo{width:585px}
.UserInfo .FinInfo{border:1px solid #EEE;padding:0 15px;margin:10px 0}
.UserInfo .FinInfo .FinName{font-size:14px;font-weight:700;padding:15px 0}
.UserInfo .FinInfo .FinMoney{line-height:40px;border-bottom:1px dotted #EEE;padding-bottom:10px}
.UserInfo .FinInfo .FinPending{line-height:40px;height:40px}
.UserInfo .FinInfo .FinPending li{float:left;margin-right:40px}
/*附加功能*/
.Append{width:190px}
/*管理中心表格*/
.ManTableA{margin:10px 0;padding:10px;border:1px solid #EEE}
.ManTableA .Title{height:25px;line-height:25px;color:#0066CC;margin-bottom:5px}
.ManTableA .Tables th{border:1px solid #E5E5E5;background:#F9F9F9;line-height:30px}
.ManTableA .Tables td{text-align:center;border-bottom:1px dotted #EEE;line-height:25px;padding:8px 0}

/*公告*/
.ManNotice{background:#FFFFCC;margin:10px 0;padding:10px}
.ManNotice .Title{font-size:14px;font-weight:700;color:#FF6600;line-height:30px;}
.ManNotice .List li{line-height:25px}
.ManNotice .List li a{color:#666}

/*默认框*/
.Box{background:#FFF;border-bottom:1px solid #d7d7d7}

/*快速搜索*/
.ManQSearch{background:#F4F4F4;margin:10px 0;border:1px solid #EBEBEB}
.ManQSearch .Title{font-size:14px;font-weight:700;line-height:30px;color:#0066CC;padding-left:5px}
.ManQSearch .MQSTabs{height:24px;border-bottom:1px solid #CCC;padding-left:5px}
.ManQSearch .MQSTabs li{line-height:24px;padding:0 5px}
.ManQSearch .MQSTabs li.Active{border:1px solid #CCC;border-bottom:0;background:#FFF;}
.ManQSearch .MQSCon{padding:10px}
.ManQSearch .MQSCon .List li{padding:5px 0}


/*购物车信息*/
.CartBox{padding:15px}
.CartTable{border:1px solid #CCC;border-bottom:0;margin:10px 0}
.CartTable th{background:#F2F2F2}
.CartTable th,
.CartTable td{border-bottom:1px solid #CCC;padding:8px}
.CartTable td img{width: 50px;height: 40px;padding: 3px;border: 1px #b1b1b1 solid;}
.CartTable .proshow {
	height: 60px;
}
.CartTable .numB {
	width: 13px;
	height: 24px;
	border: 1px #CCC solid;
	cursor: pointer;
	line-height: 22px;
	text-align: center;
	display: inline-block;
}
.CartTable .numInp {
	width: 35px;
	height: 24px;
	color: #333;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	border: 1px solid #ccc;
}
.CartTotal{line-height:40px;height:100px;font-size:28px;padding:15px 0}
.PayConfirm{line-height:30px;margin:0 0 20px 0;}



/*确认订单信息*/
.OrderBox {padding:15px}
.OrderInfo {
	width: 970px;
}
.OrderInfo .Order_Box_Tit{
	height: 32px;
	line-height: 32px;
	padding-left: 23px;
	font-size: 16px;
	background: #ededed;	
}

.OrderInfo p{
	height:26px;
	line-height:26px;
	margin:5px;
}
.OrderInfo .buy_box_con{
	padding: 10px;
}

/*公司地址*/
#copy_div p input{
	margin-bottom:5px;
}
#copy_div p input.copy{
	color: #999;
	height:24px;
	width:240px;
	margin-left:5px;
	border:1px solid #ddd;
	padding-left:5px;
}
#copy_div p input.copy {
	color: #999;
	height: 24px;
	width: 240px;
	margin-left: 5px;
	border: 1px solid #ddd;
	padding-left: 5px;
}
/*新建地址*/
#mem_edit .addr_sub_btn{
	width: 120px;
	height: 26px;
	border: none;
	background-color: #fd6600;
	color: #fff;
}
#mem_info{
	padding: 10px;
}
#mem_info tr{height:26px;}
#mem_info tr input{height:22px;line-height:22px;width:160px;border:1px solid #ddd}
#mem_info .msg{
	color: red;
	margin-left: 10px;
	line-height: 16px;
	font-size: 12px;
}

/*订单付款方式*/
#paytype{
	padding:10px 30px;
	height:26px;
	line-height:26px;
	margin:5px;
}
#paytype_edit input.pay_sub_btn{
	width:120px;
	height:26px;
	border:none;
	background-color:#fd6600;
	color:#fff;
}




/*商品付款步骤*/
.OrderStep{height:30px;margin-bottom:20px;padding-bottom:15px;border-bottom:1px solid #CCC}
.OrderStep ul{float:right}
.OrderStep li{float:left;width:180px;background:#F7F7F7;line-height:30px;text-align:center}
.OrderStep li.StepDone,
.OrderStep li.Active{background:#F60;color:#FFF}


/*线路付款步骤*/
.PayBox{padding:15px}
.PayBox .PatTable{border:1px solid #CCC;border-bottom:0;margin:10px 0}
.PayBox .PatTable th{background:#F2F2F2}
.PayBox .PatTable th,
.PayBox .PatTable td{border-bottom:1px solid #CCC;padding:8px}
.PayBox .PayTotal{line-height:40px;height:80px;font-size:28px;padding:15px 0}
.PayBox .PayConfirm{background:#FFFBE0;border-top:1px dotted #FFBE8E;border-bottom:1px dotted #FFBE8E;padding:30px 15px;line-height:30px}

/*面包屑*/
.Breadcrumbs{margin-bottom:10px}
/*查询*/
.Inquiry{padding:15px;border:2px solid #EEE;margin-bottom:10px}
.Inquiry .InTable td{padding:5px 3px;}
.Inquiry .InTable td.CA{text-align:right}
.Inquiry .InTable .InChoose a{margin-right:5px;padding:2px 5px}
.Inquiry .InTable .InChoose a.Active{background:#FF9900;color:#FFF}

/*查询列表*/
.ManList{margin:10px 0}
.ManList .Title{height:30px;line-height:30px;padding:10px}
.ManList .ListFilter{}
.ManList .List{border:1px solid #EEE;border-bottom:0}
.ManList .List th,
.ManList .List td{border-bottom:1px solid #EEE;padding:5px 2px}
.ManList .List th{background:#F7F7F7}
.ManList .List td{text-align:center;vertical-align:top}


/*操作菜单*/
.DView{position:relative}
.DView a{display:block}
.DView .DViewMenu{background:#FFF;border:1px solid #E2E2E2;position:absolute;width:100%;line-height:25px;top:-4px;left:-1px;z-index:9;}
.DView .DViewMenu li a{display:block}
.DView .DViewMenu li a:hover{background:#E68B00;color:#FFF;transition:all .3s linear .1s}

/*发布商品*/
.PostTrade .PTTable td{padding:5px 3px}
.PostTrade .PTTable td.CA{text-align:right;vertical-align:top;width:120px}
.PostTrade .PostTabs{line-height:30px;height:30px;border-bottom:1px solid #F60}
.PostTrade .PostTabs li{padding:0 20px}
.PostTrade .PostTabs li.Active{background:#009900;color:#FFF}
.PostTrade .PostPic li{display:inline-block;margin:3px}
.PostTrade .PostPic li img{border:1px solid #EEE;padding:3px}
.PostTrade .PostPic li b{display:block;cursor:pointer;position:absolute;width:20px;height:20px;background:#F60;color:#FFF;text-align:center}
.PostTrade .PostBut{margin:20px 0;padding:0 20px;}
.PostTrade .PostStroke{margin:15px 0}
.PostTrade .PostStroke{background:#FFF}
.PostTrade .PostStroke th{background:#F1F1F1}
.PostTrade .PostStroke td,
.PostTrade .PostStroke th{border:1px solid #DDD;line-height:25px}
.PostTrade .PostStroke td{text-align:center;padding:0 3px}

/*线路编辑查看*/
.PostView .Title{height:40px;line-height:40px;font-size:14px;font-weight:700;color:#1996E6;border-bottom:1px solid #EEE;padding-left:15px}

/*多选*/
.MultiPick{}

.AreaBox{width:500px}
.AreaBox dd{float:left;padding:3px 10px;cursor:pointer;margin:5px}
.AreaBox dd.Active{background:#1996E6;color:#FFF}
.AreaBox .AreaTbas{line-height:30px;height:30px;padding-left:20px;border-bottom:1px solid #F90;}
.AreaBox .AreaTbas li{padding:0 15px;margin-right:10px;background:#F9F9F9;}
.AreaBox .AreaTbas li.Active{background:#FFF;border:1px solid #F90;border-bottom:0}


/*订单列表*/
.OrderList table{border:1px solid #CCC;margin:10px 0}
.OrderList table th,
.OrderList table td{border-top:1px solid #CCC;padding:5px;vertical-align:top;text-align:center}
.OrderList table th{border-right:1px solid #CCC;border-top:2px solid #009900}
.OrderList table .Title td{background:#F4F4F4;line-height:25px;text-align:left}
.OrderList table .Title td li{display:inline-block;margin-right:50px}
.OrderList table .OrderDate{text-align:left}
.OrderList table .OrderDate .List{position:relative;padding-left:65px}
.OrderList table .OrderDate .OrTags{position:absolute;left:0;text-align:center;display:block;width:60px;top:5px}


/*订单详情*/
.ODetailList{padding:10px 0}
.ODetailList .Title{background:#F4F4F4;height:30px;line-height:30px;border-top:1px solid #D1D1D1;padding:0 15px;color:#0d79c2;font-weight:700}
.ODetailList table{margin:10px 0}
.ODetailList table td.CA{width:80px;text-align:right}
.ODetailList table td{padding:3px;}


/*充值*/
.RechBox{background:#F7F7F7;padding-top:20px}
.RechBox .RechTiR{line-height:40px;padding:0 10px}
.RechBox .RechTabsTi{line-height:40px;font-size:13px;font-weight:700;padding:0 20px}
.RechBox .RechTabs{line-height:40px;height:40px;}
.RechBox .RechTabs li{background:#EEE;font-size:14px;font-weight:700;color:#999;padding:0 20px;margin-left:10px}
.RechBox .RechTabs li.Active{background:#FFF;border:2px solid #66CCFF;border-bottom:0;color:#000}
.RechBox .RechCon{border:2px solid #66CCFF;background:#FFF;padding:15px;}

.RechBankBox table{margin:5px 0 15px}
.RechBankBox table td{border:1px solid #CCC;padding:5px}
.RechBankBox table td.CA{text-align:right;width:80px;color:#666;background:#F3F3F3}

.RechTao table{margin:10 0;}
.RechTao table td{padding:8px 5px}
.RechTao table td.CA{text-align:right;width:80px;color:#666;background:#F3F3F3}


/*提现*/
.ExBox .Title{height:30px;line-height:30px}
.ExBox .List{border:2px solid #66CCFF;padding:15px}

.AddBank{}


.FillBox{margin:0;border:1px solid #999;overflow:hidden;height:auto!important;height:1%;cursor:text;padding:4px 5px 0;}
.FillBox li{float:left;list-style-type:none;margin:0 5px 3px 0;}
.BitClose{position:absolute;right:4px;top:6px;display:block;width:7px;height:7px;font-size:1px;background:url('../Images/Icon/FillClose.gif');}
.BitBox{position:relative;border:1px solid #CAD8F3;background:#DEE7F8;height:18px;line-height:18px;padding:1px 15px 1px 5px;border-radius:0px;cursor:pointer}
.BitBox:hover{border:1px solid #71AAFF;background:#71AAFF;color:#FFF}
.BitBox:hover .BitClose{background-position:0 -14px;}
.BitInput input{width:150px;margin:0;border:none;outline:0;background:none;box-shadow:none;height:22px;line-height:22px}

.FillChoose{display:none;position:absolute;padding:5px;width:512px;background:#FFF;border:1px solid #ABADB3;}
.FillTabs{position:relative;height:21px;margin-top:4px;border-bottom:1px solid #DDD;zoom:1;padding:0 5px}
.FillTabs li{list-style:none;float:left;text-align:center;cursor:pointer;border:1px solid #DDD;height:20px;font-size:12px;line-height:20px;text-align:center;background-color:#F6F6F6;margin-right:8px;padding:0 8px;}
.FillTabs li.Active{background:#FFF;border-bottom:1px solid #FFF;}
.FillTabsCon{padding:5px 0;background:#FFF;}
.FillTabsCon ul{overflow:hidden}
.FillTabsCon li{list-style:none;float:left;padding:5px 0;width:20%!important;text-align:center;}
.FillCloseImg{display:block;float:right;width:14px;height:14px;cursor:pointer;}

.FillFeed{display:none}
.FillFeed li{list-style:none;line-height:24px;padding:0 5px}
.FillFeed li:hover{background:#c8e3fc;cursor:pointer}
.FillFeed li span{float:right}

/*商品分类*/
	.TourCate{background:#F9F9F9;border:1px dotted #DDD;padding:15px;margin:0px 10px 20px 10px}
	.TourCate .CateMore a{margin-right:10px;}
/*特价列表*/
	.SpeList{overflow:hidden;background:#FFF;padding:8px 0;}
	.SpeList ul{margin:0 10px;padding-left:1px;border-top:1px solid #d7d7d7;overflow:hidden}
	.SpeList li{background:#FFF;padding:10px 0;width:325px;margin:0 0 0 -1px;position:relative;word-wrap:break-word;word-break:break-all;float:left;border:1px solid #d7d7d7;border-top:none}
	.SpeList li .Discount{position:absolute;background:url(../Images/Discounts.png) no-repeat;width:55px;height:25px;padding-top:20px;text-align:center;line-height:18px;color:#FFF;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";font-size:14px;top:5px;right:15px;}
	.SpeList li .Pic{padding:0 10px;margin-bottom:5px;height:188px;overflow:hidden}
	.SpeList li .Pic img{width:300px;height:188px}
	.SpeList li .Title{padding:0 10px;height:63px;margin-bottom:5px;font-size:14px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";}
	.SpeList li .Title a{color:#666}
	.SpeList li.Active .Title a{color:#333}
	.SpeList li .Info{padding:0 10px}
	
	.SpeBox{position:relative;padding-top:40px}
	.SpeBox .SpeTi{height:40px;position:absolute;width:1000px;top:0;z-index:999;}
	.SpeBox .SpeTiPF{border-bottom:3px solid #009900;position:fixed;background:#FFF}
	.SpeBox .SpeTi .Txt{margin-left:5px;font-size:18px;line-height:33px;color:#fe2560;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Tahoma,"STHeiti","Microsoft YaHei";font-weight:bold}
	.SpeBox	.SpeCity{line-height:31px;margin:10px 10px 0 0;}
	.SpeBox .SpeCity a{display:block;float:left;margin-left:10px;height:18px;line-height:18px;padding:1px 6px;color:#333}
	.SpeBox .SpeCity a.Active{background:#18C;color:#FFF}
	.SpeBox .SpeCity a.LB{color:#FFF}
	.SpeBox .SpeCityM{border:2px solid #FFC13B;right:10px;position:absolute;top:28px;width:400px;z-index:999}
	.SubBox{z-index:999}
	.SubBox .SpeCityM{border:2px solid #FFC13B;left:0;position:absolute;top:20px;width:400px;z-index:999}
	.SpeCityM{background:#FFF;padding:10px;overflow:hidden}
	.SpeCityM dl dt{color:#999;padding:5px 0;}
	.SpeCityM dl dd a{color:#333;border:1px solid #FFF;padding:1px 5px;margin:0 8px 5px 0;display:inline-block;white-space:nowrap;}
	.SpeCityM dl dd a.Active{background:#18C;color:#FFF;border:1px solid #18C;}
	.SpeCityM a:hover{color:#18C;background:#e8f4ff;border:1px solid #acccef;text-decoration:none}

/*Footer*/

.qingta { border-top:#ccc 1px solid; margin-top:12px;}
.footer { padding-top:25px;}
.foota { float:left; width:120px; padding-left:25px;}
.footer .TreeList { padding-top:5px;}
.footer .TreeList .cat1 { margin-bottom:5px;}
.foota .bordercc h3 {color:#373737; font-family:"微软雅黑";  }
.footer .TreeList .cat1 a{color: #888; font-size:10px;}
.footer .TreeList .cat1 a:hover{text-decoration:none}
.footer .TreeList .cat2 {margin-bottom:5px; padding-left:0; border-right:#ededed 1px solid; }
.footer .TreeList .cat2 a{ color: #888;font-size:10px;}
.footer .TreeList .cat2 a:hover{text-decoration:none}
.footer .aa .TreeList .cat2{ border-right:0;}
.footer .footb {width:190px; overflow: hidden; padding-left:40px; margin-top:10px;}
.footer .footc1 { background-color:#009900;  height:35px; line-height:35px; text-align:center; width:134px; padding-left:16px;}
.footer .footc1 a{ font-size:14px; font-weight:bold; color:#fff;}
.footer .foott { margin-top:20px;}