<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.finance.BillDao">
    <!-- 定义要操作的SQL语句 -->  
    <insert id="insertBill" parameterType="billVO">  
        insert into t_bill (userId,tradeId,tradetype,tradechannel,currtime,money,type,balance)
        values(#{userId},#{tradeId},#{tradetype},#{tradechannel},#{currtime},#{money},#{type},#{balance}) 
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="sn" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
    </insert>
    
    <select id="queryBill" resultType="billVO" parameterType="java.lang.String">  
        SELECT b.*,u.usertype,u.name userName
        FROM t_bill b
        left join t_user u on u.userId=b.userId
        where ${_parameter}
    </select>
    
    <select id="queryBillPageCount" resultType="int" parameterType="java.lang.String">  
        <![CDATA[
        select count(*) 
        from t_bill b 
        where ${_parameter} 1=1
        ]]>
    </select>
    
     <select id="queryBillInfo" resultType="billVO" parameterType="hashmap">  
        <![CDATA[
        SELECT b.*, u.name userName 
        FROM t_bill b
        left join t_user u on u.userId=b.userId 
        WHERE tradeId=#{tradeId} and tradetype = #{tradetype}
        ]]>
    </select>
    
    <select id="queryBillDetail" resultType="billVO" parameterType="java.lang.String">  
        select *
        from t_bill
        where ${_parameter} 1=1
    </select>
    
    <!-- 更新用户虚拟账户余额信息 -->  
	<update id="modifyUserBalance" parameterType="java.util.Map">
        <![CDATA[
         UPDATE t_account 
		 SET   balance=#{balance}
		 WHERE userId=#{userId}
        ]]>
	</update>
     <!-- 获取用户虚拟账户余额信息 -->  
    <select id="queUserBalance" resultType="double" parameterType="int">
        SELECT a.balance FROM t_account a WHERE userId=#{userId}
    </select>
</mapper>