<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.groupbuy.GroupbuyDao">

    <!-- 获取团购商品列表 -->  
    <select id="getGroupbuyInfo" resultType="groupbuyInfo" parameterType="java.util.Map">  
       SELECT * FROM t_groupbuy_info 
       	<where>
       	    1=1
       	    <if test="typeCode>0">
       	        and typeCode=#{typeCode}
       	    </if>
       	    <if test="onLine>0">
       	        and onLine=#{onLine}
       	    </if>
       	</where>
      	order by startTime asc limit #{pageIndex},#{pageSize}
    </select>
    <!-- 获取团购商品总数 -->  
    <select id="getGoopbuyInfocCount" resultType="int" parameterType="java.util.Map">  
       SELECT count(*) FROM t_groupbuy_info
       <where>
            1=1
       	    <if test="typeCode>0">
       	        and typeCode=#{typeCode}
       	    </if>
       	      <if test="onLine>0">
       	        and onLine=#{onLine}
       	    </if>
       </where>
    </select>
    
    <!-- 更具编号获取团购商品信息 -->  
    <select id="getGroupbuyInfoById" resultType="groupbuyInfo" parameterType="int">  
       SELECT * FROM t_groupbuy_info WHERE recordNo=#{recordNo}
    </select> 
    
    <insert id="insertGroupbuyInfo" parameterType="groupbuyInfo">
          INSERT INTO t_groupbuy_info (title, image, startTime,endTime, value, price, rebate, save, bought, subcategory, typeCode, remark, createTime,onLine) 
        VALUES (#{title},#{image},#{startTime},#{endTime},#{value},#{price},#{rebate},#{save},#{bought},#{subcategory},#{typeCode},#{remark},#{createTime},#{onLine})
    </insert>
    
    <update id="updateGroupbuyInfo" parameterType="groupbuyInfo">
       	UPDATE t_groupbuy_info SET title=#{title},image=#{image},startTime=#{startTime},endTime=#{endTime},value=#{value},price=#{price},rebate=#{rebate},save=#{save},bought=#{bought},subcategory=#{subcategory},typeCode=#{typeCode} ,remark=#{remark} ,createTime=#{createTime} ,onLine=#{onLine}  WHERE recordNo=#{recordNo};
    </update>
    
    <delete id="delGroupbuyInfoByRecordNo" parameterType="int">
        delete from t_groupbuy_info where recordNo=#{recordNo}
    </delete>
    <update id="updateGroupbuyInfoOnLine" parameterType="java.util.Map">
       	UPDATE t_groupbuy_info SET onLine=#{onLine} WHERE recordNo=#{recordNo};
    </update>
</mapper>