<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.system.ManagerDao">

	<resultMap type="managerVO" id="managerMap">  
		<id column="id" property="id"/>
        <collection property="role" javaType="ArrayList" column="id" ofType="roleVO"   
        select="com.guoleMIS.dao.system.RoleDao.queryRoleByManager"/>  
    </resultMap>

    <!-- 定义要操作的SQL语句 -->  
    <insert id="insertManager" parameterType="managerVO">  
        insert into t_admin (id, userAccount, pwd, userName, tel, email, accountStatus)
        values(#{id},#{userAccount},#{pwd},#{userName},#{tel},#{email},#{accountStatus}) 
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
    </insert>
    <delete id="deleteManagerRole" parameterType="int">
    	delete from t_user_role where userId=#{value}
    </delete>
    <insert id="insertManagerRole" parameterType="managerVO">
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
        insert into t_user_role (userId,roleId)
        values
    	<foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.userId},#{item.roleId})  
	    </foreach>
    </insert>
    <select id="queryManager" resultMap="managerMap" >  
        select * 
        from t_admin 
        where userAccount = #{userAccount} and pwd=#{pwd}
    </select>
    <select id="queryManagerById" resultMap="managerMap" parameterType="int">  
        select * 
        from t_admin 
        where id = #{value}
    </select>
    <select id="queryAllManager" resultMap="managerMap"  >  
        select * 
        from t_admin
    </select>
    <update id="updateManager" parameterType="managerVO">
    	update t_admin 
    	<set>  
	        <if test="pwd != '' and pwd != null">  
	            pwd = #{pwd},  
	        </if>  
	        <if test="userName != '' and userName != null">  
	            userName = #{userName},  
	        </if>  
	        <if test="tel != '' and tel != null">  
	            tel = #{tel},  
	        </if>  
	        <if test="email != '' and email != null">  
	            email = #{email},  
	        </if>  
	        <if test="accountStatus != '' and accountStatus != null">  
	            accountStatus = #{accountStatus},  
	        </if>  
	    </set>  
	    where id = #{id}  
    </update>
</mapper>