<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.system.PermissionDao">

    <!-- 定义要操作的SQL语句 -->  
    <insert id="insertPermission" parameterType="permissionVO">
        insert into t_permission (id, addr,pid,detail)
        values(#{id},#{addr},#{pid},#{detail}) 
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
    </insert>
    <select id="queryAllPermission" resultType="java.util.HashMap" >  
		SELECT l1.id id1,l1.pid pid1,l1.addr addr1,l1.detail detail1,
		l2.id id2,l2.pid pid2,l2.addr addr2,l2.detail detail2,
		l3.id id3,l3.pid pid3,l3.addr addr3,l3.detail detail3
		FROM t_permission l1 
		left join t_permission l2 on l1.pid=-1 and l1.id = l2.pid
		left join t_permission l3 on l3.pid = l2.id
		where l1.pid=-1
    </select>
    <select id="getAllTopPermissions" resultType="permissionVO" >  
        SELECT id,detail
		FROM t_permission 
    </select>
    <select id="getResources" resultType="permissionVO" >  
        SELECT a.*,c.id tid,c.detail tdetail
		FROM
		(SELECT t.id,t.addr,t.detail,t.pid pid,t1.detail pdetail
		FROM t_permission t
		LEFT JOIN t_permission t1 ON t.pid=t1.id WHERE t.pid !=-1)a,
		t_permission b,t_permission c
		WHERE a.pid=b.id AND b.pid=c.id
		ORDER BY c.id,a.pid
    </select>
    <select id="queryPermission" resultType="permissionVO" parameterType="int">  
         SELECT t.id,t.addr,t.detail,t.pid pid,t1.addr paddr,t1.detail pdetail
		 FROM t_permission t
		 LEFT JOIN t_permission t1 ON t.pid=t1.id where t.id=#{value}
    </select>
    <select id="queryPermissionByRole" resultType="permissionVO" parameterType="int">  
        select a.*
        from t_permission a,t_role_permission b
        where a.id = b.pid and b.roleId = #{value}
    </select>
    <update id="updatePermission" parameterType="permissionVO">
    	update t_permission 
    	<set>  
	        <if test="addr != '' and addr != null">  
	            addr = #{addr},  
	        </if>  
	        <if test="pid != '' and pid != null">  
	            pid = #{pid},  
	        </if>  
	        <if test="detail != '' and detail != null">  
	            detail = #{detail},  
	        </if>  
	    </set>  
	    where id = #{id}  
    </update>
    <delete id="deletePermission" parameterType="permissionVO">
    	delete from t_permission where id=#{id}
    </delete>
    <delete id="deleteRolePermission" parameterType="int">
    	delete from t_role_permission where pid=#{value}
    </delete>
</mapper>