<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.guoleMIS.dao.system.RoleDao">

	<resultMap type="roleVO" id="roleMap">  
		<id column="id" property="id"/>
        <collection property="permission" javaType="ArrayList" column="id" ofType="permissionVO"   
        select="com.guoleMIS.dao.system.PermissionDao.queryPermissionByRole"/>  
    </resultMap>
    <!-- 定义要操作的SQL语句 -->  
    <insert id="insertRole" parameterType="roleVO">  
        insert into t_role (id, name, detail)
        values(#{id},#{name},#{detail}) 
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
    </insert>
    <delete id="deleteRolePermission" parameterType="int">
    	delete from t_role_permission where roleId=#{value}
    </delete>
    <insert id="insertRolePermission" parameterType="roleVO">
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >  
          SELECT LAST_INSERT_ID()  
        </selectKey>
        insert into t_role_permission (roleId, pid)
        values
    	<foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.roleId},#{item.pid})  
	    </foreach>
    </insert>
    <select id="queryAllRole" resultMap="roleMap" >  
        select * 
        from t_role
    </select>
    <select id="queryRole" resultMap="roleMap"  parameterType="int">  
        select * 
        from t_role
        where id=#{value}
    </select>
    <select id="queryRoleByManager" resultMap="roleMap" parameterType="int">  
        select a.* 
        from t_role a,t_user_role b
        where a.id = b.roleId and b.userId = #{value}
    </select>
    <update id="updateRole" parameterType="roleVO">
    	update t_role 
    	<set>  
	        <if test="name != '' and name != null">  
	            name = #{name},  
	        </if>  
	        <if test="detail != '' and detail != null">  
	            detail = #{detail},  
	        </if>  
	    </set>  
	    where id = #{id}  
    </update>
    <delete id="deleteRole" parameterType="int">
    	delete from t_role where id=#{id}
    </delete>
    
</mapper>